body {
    background: #F9F9FB;
}

.paragraph {
    margin-top: 20px;
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.view-account {
    background: #FFFFFF;
    margin-top: 20px;
}

.view-account .pro-label {
    font-size: 13px;
    padding: 4px 5px;
    position: relative;
    top: -5px;
    margin-left: 10px;
    display: inline-block;
}

.view-account .side-bar {
    padding-bottom: 30px;
}

.view-account .side-bar .user-info {
    text-align: center;
    margin-bottom: 15px;
    padding: 30px;
    color: #616670;
    border-bottom: 1px solid #F3F3F3;
}

.view-account .side-bar .user-info .img-profile {
    width: 120px;
    height: 120px;
    margin-bottom: 15px;
}

.view-account .side-bar .user-info .meta li {
    margin-bottom: 10px;
}

.view-account .side-bar .user-info .meta li span {
    display: inline-block;
    width: 100px;
    margin-right: 5px;
    text-align: right;
}

.view-account .side-bar .user-info .meta li a {
    color: #616670;
}

.view-account .side-bar .user-info .meta li.activity {
    color: #A2A6AF;
}

.view-account .side-bar .side-menu {
    text-align: center;
}

.view-account .side-bar .side-menu .nav {
    display: inline-block;
    margin: 0 auto;
}

.view-account .side-bar .side-menu .nav>li {
    font-size: 14px;
    margin-bottom: 0;
    border-bottom: none;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}

.view-account .side-bar .side-menu .nav>li:last-child {
    margin-right: 0;
}

.view-account .side-bar .side-menu .nav>li>a {
    display: inline-block;
    color: #9499A3;
    padding: 5px;
    border-bottom: 2px solid transparent;
}

.view-account .side-bar .side-menu .nav>li>a:hover {
    color: #616670;
    background: none;
}

.view-account .side-bar .side-menu .nav>li.active a {
    color: #40BABD;
    border-bottom: 2px solid #40BABD;
    background: none;
    border-right: none;
}

.theme-2 .view-account .side-bar .side-menu .nav>li.active a {
    color: #6DBD63;
    border-bottom-color: #6DBD63;
}

.theme-3 .view-account .side-bar .side-menu .nav>li.active a {
    color: #497CB1;
    border-bottom-color: #497CB1;
}

.theme-4 .view-account .side-bar .side-menu .nav>li.active a {
    color: #EC6952;
    border-bottom-color: #EC6952;
}

.view-account .side-bar .side-menu .nav>li .icon {
    display: block;
    font-size: 24px;
    margin-bottom: 5px;
}

.view-account .content-panel {
    padding: 30px;
}

.view-account .content-panel .title {
    margin-bottom: 15px;
    margin-top: 0;
    font-size: 18px;
}

.view-account .content-panel .fieldset-title {
    padding-bottom: 15px;
    border-bottom: 1px solid #EAEAF1;
    margin-bottom: 30px;
    color: #616670;
    font-size: 16px;
}

.view-account .content-panel .avatar .figure img {
    float: right;
    width: 64px;
}

.view-account .content-panel .content-header-wrapper {
    position: relative;
    margin-bottom: 30px;
}

.view-account .content-panel .content-header-wrapper .actions {
    position: absolute;
    right: 0;
    top: 0;
}

.view-account .content-panel .content-utilities {
    position: relative;
    margin-bottom: 30px;
}

.view-account .content-panel .content-utilities .btn-group {
    margin-right: 5px;
    margin-bottom: 15px;
}

.view-account .content-panel .content-utilities .fa {
    font-size: 16px;
    margin-right: 0;
}

.view-account .content-panel .content-utilities .page-nav {
    position: absolute;
    right: 0;
    top: 0;
}

.view-account .content-panel .content-utilities .page-nav .btn-group {
    margin-bottom: 0;
}

.view-account .content-panel .content-utilities .page-nav .indicator {
    color: #A2A6AF;
    margin-right: 5px;
    display: inline-block;
}

.view-account .content-panel .mails-wrapper .mail-item {
    position: relative;
    padding: 10px;
    border-bottom: 1px solid #F3F3F3;
    color: #616670;
    overflow: hidden;
}

.view-account .content-panel .mails-wrapper .mail-item>div {
    float: left;
}

.view-account .content-panel .mails-wrapper .mail-item .icheck {
    background-color: #FFF;
}

.view-account .content-panel .mails-wrapper .mail-item:hover {
    background: #F9F9FB;
}

.view-account .content-panel .mails-wrapper .mail-item:nth-child(even) {
    background: #FCFCFD;
}

.view-account .content-panel .mails-wrapper .mail-item:nth-child(even):hover {
    background: #F9F9FB;
}

.view-account .content-panel .mails-wrapper .mail-item a {
    color: #616670;
}

.view-account .content-panel .mails-wrapper .mail-item a:hover {
    color: #494D55;
    text-decoration: none;
}

.view-account .content-panel .mails-wrapper .mail-item .checkbox-container, .view-account .content-panel .mails-wrapper .mail-item .star-container {
    display: inline-block;
    margin-right: 5px;
}

.view-account .content-panel .mails-wrapper .mail-item .star-container .fa {
    color: #A2A6AF;
    font-size: 16px;
    vertical-align: middle;
}

.view-account .content-panel .mails-wrapper .mail-item .star-container .fa.fa-star {
    color: #F2B542;
}

.view-account .content-panel .mails-wrapper .mail-item .star-container .fa:hover {
    color: #868C97;
}

.view-account .content-panel .mails-wrapper .mail-item .mail-to {
    display: inline-block;
    margin-right: 5px;
    min-width: 120px;
}

.view-account .content-panel .mails-wrapper .mail-item .mail-subject {
    display: inline-block;
    margin-right: 5px;
}

.view-account .content-panel .mails-wrapper .mail-item .mail-subject .label {
    margin-right: 5px;
}

.view-account .content-panel .mails-wrapper .mail-item .mail-subject .label:last-child {
    margin-right: 10px;
}

.view-account .content-panel .mails-wrapper .mail-item .mail-subject .label a, .view-account .content-panel .mails-wrapper .mail-item .mail-subject .label a:hover {
    color: #FFF;
}

.view-account .content-panel .mails-wrapper .mail-item .mail-subject .label-color-1 {
    background: #F77B6B;
}

.view-account .content-panel .mails-wrapper .mail-item .mail-subject .label-color-2 {
    background: #58BBEE;
}

.view-account .content-panel .mails-wrapper .mail-item .mail-subject .label-color-3 {
    background: #F8A13F;
}

.view-account .content-panel .mails-wrapper .mail-item .mail-subject .label-color-4 {
    background: #EA5395;
}

.view-account .content-panel .mails-wrapper .mail-item .mail-subject .label-color-5 {
    background: #8A40A7;
}

.view-account .content-panel .mails-wrapper .mail-item .time-container {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 10px;
    color: #A2A6AF;
    text-align: left;
}

.view-account .content-panel .mails-wrapper .mail-item .time-container .attachment-container {
    display: inline-block;
    color: #A2A6AF;
    margin-right: 5px;
}

.view-account .content-panel .mails-wrapper .mail-item .time-container .time {
    display: inline-block;
    text-align: right;
}

.view-account .content-panel .mails-wrapper .mail-item .time-container .time.today {
    font-weight: 700;
    color: #494D55;
}

.drive-wrapper {
    padding: 15px;
    background: #F5F5F5;
    overflow: hidden;
}

.drive-wrapper .drive-item {
    width: 130px;
    margin-right: 15px;
    float: left;
}

.drive-wrapper .drive-item:hover {
    box-shadow: 0 1px 5px rgba(0, 0, 0, .1);
    z-index: 1;
}

.drive-wrapper .drive-item-inner {
    padding: 15px;
}

.drive-wrapper .drive-item-title {
    margin-bottom: 15px;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.drive-wrapper .drive-item-title a {
    color: #494D55;
}

.drive-wrapper .drive-item-title a:hover {
    color: #40BABD;
}

.theme-2 .drive-wrapper .drive-item-title a:hover {
    color: #6DBD63;
}

.theme-3 .drive-wrapper .drive-item-title a:hover {
    color: #497CB1;
}

.theme-4 .drive-wrapper .drive-item-title a:hover {
    color: #EC6952;
}

.drive-wrapper .drive-item-thumb {
    width: 100px;
    height: 80px;
    margin: 0 auto;
    color: #616670;
}

.drive-wrapper .drive-item-thumb a {
    -webkit-opacity: .8;
    -moz-opacity: .8;
    opacity: .8;
}

.drive-wrapper .drive-item-thumb a:hover {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}

.drive-wrapper .drive-item-thumb .fa {
    display: inline-block;
    font-size: 36px;
    margin: 0 auto;
    margin-top: 20px;
}

.drive-wrapper .drive-item-footer .utilities {
    margin-bottom: 0;
}

.drive-wrapper .drive-item-footer .utilities li:last-child {
    padding-right: 0;
}

.drive-list-view .name {
    width: 60%;
}

.drive-list-view .name.truncate {
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.drive-list-view .type {
    width: 45px;
}

.drive-list-view .date, .drive-list-view .size {
    max-width: 60px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.drive-list-view a {
    color: #494D55;
}

.drive-list-view a:hover {
    color: #40BABD;
}

.theme-2 .drive-list-view a:hover {
    color: #6DBD63;
}

.theme-3 .drive-list-view a:hover {
    color: #497CB1;
}

.theme-4 .drive-list-view a:hover {
    color: #EC6952;
}

.drive-list-view td.date, .drive-list-view td.size {
    color: #A2A6AF;
}

@media (max-width: 767px) {
    .view-account .content-panel .title {
        text-align: center;
    }

    .view-account .side-bar .user-info {
        padding: 0;
    }

    .view-account .side-bar .user-info .img-profile {
        width: 60px;
        height: 60px;
    }

    .view-account .side-bar .user-info .meta li {
        margin-bottom: 5px;
    }

    .view-account .content-panel .content-header-wrapper .actions {
        position: static;
        margin-bottom: 30px;
    }

    .view-account .content-panel {
        padding: 0;
    }

    .view-account .content-panel .content-utilities .page-nav {
        position: static;
        margin-bottom: 15px;
    }

    .drive-wrapper .drive-item {
        width: 100px;
        margin-right: 5px;
        float: none;
    }

    .drive-wrapper .drive-item-thumb {
        width: auto;
        height: 54px;
    }

    .drive-wrapper .drive-item-thumb .fa {
        font-size: 24px;
        padding-top: 0;
    }

    .view-account .content-panel .avatar .figure img {
        float: none;
        margin-bottom: 15px;
    }

    .view-account .file-uploader {
        margin-bottom: 15px;
    }

    .view-account .mail-subject {
        max-width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .view-account .content-panel .mails-wrapper .mail-item .time-container {
        position: static;
    }

    .view-account .content-panel .mails-wrapper .mail-item .time-container .time {
        width: auto;
        text-align: left;
    }
}

@media (min-width: 768px) {
    .view-account .side-bar .user-info {
        padding: 0;
        padding-bottom: 15px;
    }

    .view-account .mail-subject .subject {
        max-width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media (min-width: 992px) {
    .view-account .content-panel {
        min-height: 800px;
        border-left: 1px solid #F3F3F7;
        margin-left: 200px;
    }

    .view-account .mail-subject .subject {
        max-width: 280px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .view-account .side-bar {
        position: absolute;
        width: 200px;
        min-height: 600px;
    }

    .view-account .side-bar .user-info {
        margin-bottom: 0;
        border-bottom: none;
        padding: 30px;
    }

    .view-account .side-bar .user-info .img-profile {
        width: 120px;
        height: 120px;
    }

    .view-account .side-bar .side-menu {
        text-align: left;
    }

    .view-account .side-bar .side-menu .nav {
        display: block;
    }

    .view-account .side-bar .side-menu .nav>li {
        display: block;
        float: none;
        font-size: 14px;
        border-bottom: 1px solid #F3F3F7;
        margin-right: 0;
        margin-bottom: 0;
    }

    .view-account .side-bar .side-menu .nav>li>a {
        display: block;
        color: #9499A3;
        padding: 10px 15px;
        padding-left: 30px;
    }

    .view-account .side-bar .side-menu .nav>li>a:hover {
        background: #F9F9FB;
    }

    .view-account .side-bar .side-menu .nav>li.active a {
        background: #F9F9FB;
        border-right: 4px solid #40BABD;
        border-bottom: none;
    }

    .theme-2 .view-account .side-bar .side-menu .nav>li.active a {
        border-right-color: #6DBD63;
    }

    .theme-3 .view-account .side-bar .side-menu .nav>li.active a {
        border-right-color: #497CB1;
    }

    .theme-4 .view-account .side-bar .side-menu .nav>li.active a {
        border-right-color: #EC6952;
    }

    .view-account .side-bar .side-menu .nav>li .icon {
        font-size: 24px;
        vertical-align: middle;
        text-align: center;
        width: 40px;
        display: inline-block;
    }
}

.module {
    border: 1px solid #F3F3F3;
    border-bottom-width: 2px;
    background: #FFF;
    margin-bottom: 30px;
    position: relative;
    border-radius: 4px;
    background-clip: padding-box;
}

.module .module-footer {
    background: #FFF;
    border-top: 1px solid #F3F3F7;
    padding: 15px;
}

.module .module-footer a {
    color: #9499A3;
}